/* global.css */
@import "tailwindcss";

body::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;
  opacity: 0.05;
  background: url("logos/Site-Logo.PNG");
  background-color: rgba(255, 255, 255, 1);
  background-size: 300px;
  transform: rotate(-8deg) scale(1.35);
  animation: slide 30s linear infinite;
  pointer-events: none;
}

@keyframes slide {
  from {
    background-position: 100vh 0;
  }
  to {
    background-position: 20% 100vh;
  }
}

#loading {
  opacity: 1;
  transition: opacity 0.5s ease;
}
#loading.hidden {
  opacity: 0;
  pointer-events: none;
}

.user-box {
  cursor: pointer;
  transition: all 0.3s ease;
}
.user-box:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
